<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>登录页面</title>
    <link rel="stylesheet" href="./css/common.css">
  </head>
  <body>
    <div class="login-dialog"> 
      <i class="iconfont iconguanbi login-dialog__close"></i> 
      <div class="login-panel">
       <img class="login-type-tab" src="https://sxsimg.xiaoyuanzhao.com/static_common/common-comp/login/popup/icon_login_qr_normal.png" alt="" />
       <img class="login-qipao-tab" src="https://sxsimg.xiaoyuanzhao.com/static_common/common-comp/login/popup/qipao_qrcode.png" alt="" />
       <div class="login-panel__content other"> 
        <div class="form-title"> 
         <div class="form-title__type active">
          短信登录
         </div> 
         <div class="form-title__type">
          密码登录
         </div> 
        </div> 
        <div class="login-form login-form--phone login-form--is-show">
         <div class="input-wrap input-wrap--phone-number"> 
    </div>
  </body>
  <script src="./js/login.js"></script>
</html>