<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>注册页面</title>
    <link rel="stylesheet" href="./css/common.css">
  </head>
  <body>
    <header></header>
    <div class="login-box">
      <div class="login-container">
        <div class="login-title">
          <a href="#">密码登录</a>
          <a href="#">短信登录</a>
        </div>
        <div class="login-input">
          <div class="input-user">
            <input type="text" placeholder="用户名/手机/邮箱">
          </div>
          <div class="input-upwd">
            <input type="password" placeholder="请输入密码">
          </div>
        </div>
        <div class="btn">
          <button>提交</button>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/login.js"></script>
</html>