<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>登录页面</title>
    <link rel="stylesheet" href="./css/common.css">
  </head>
  <body>
    <header><nav></nav></header>
    <main>
      <section class="interface">
        <div>
          <span class="user"><a href="#">用户登录</a></span>
          <span class="admin"><a href="#">管理员登录</a></span>
          <span>用户名</span><input type="text" id="uname">
          <span>密码</span><input type="password" id="upwd">
          <input type="submit" id="ubtn">
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
  <script src="./js/login.js"></script>
</html>