* {
  padding: 0;
  margin: 0;
}
header {
  height: 50px;
  background-color: lightblue;
}
.login-box {
  width: 400px;
  height: 400px;
  background-color: rgba(0,0,0,0.5);
}
.login-box .login-container {
  margin-top: 30px;
  text-align: center;
}
.login-box::before {
  content: '';
  display: table;
}
.login-box .login-title {
  padding-bottom: 30px;
}
.login-box .login-title > a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}