* {
  padding: 0;
  margin: 0;
}
.interface {
  width: 50%;
  border: 1px solid blue;
  background-color: lightblue;
  margin-left: 25%;
  margin-top: 10%;
}

.interface>div {
  width: 500px;
  margin:0 auto;
}
li {
  list-style: none;
}